* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .head {
    height: 100vh;
    display: flex;
    color: #fff;
  }

  .turu, .turu{
    color: rgba(255, 255, 0, 0.8);
    font-size: 10pt;
    font-family: monospace;
    margin-left: 30%;
}
  .wrapper {
    max-width: 960px;
  }
  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .box video {
    min-width: 100%;
    min-height: 100%;
  }
  .header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 45, 1);
    background: rgba(0, 0, 45, 1);
    z-index: 1;
    opacity: 0.85;
  }
  .content {
    z-index: 99;
    width: 100%;
    height: 100vh;
    padding: 10%;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.37);
  }
 
.form__section{
  display: grid;
  place-items: center;
  height: 100vh;
}

.image{
  position: absolute;
  z-index: 999;
  margin-top: -51%;
  margin-left: 15.5%;
}

.form__section-container{
  width: 80%;
}

.alert__message{
  padding: 0.8rem 1.4rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.alert__message.error{
  background-color: red;
  color: white;
}

.alert__message.success{
  background-color: green;
  color: white;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.from__control{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

input, textarea, select{
  padding: 0.8rem 1.4rem;
  background-color: white;
  border-radius: 10px;
  resize: none;
  color: #252525;
}


.signup{
  padding-left: 100%;
  margin-top: 5%;
  padding-top: 33%;
}

.teks .signup p{
  position: absolute;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: -110%;
}

.teks .signup p a{
  text-decoration: none;
  color: #63cfe2;
  font-weight: 900;
  left: -50%;
}

.teks .signup p a:hover{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
}




 